<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">

    <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>403 Access Denied</title>
</head>
 
<body>
	<section class="centered">
	  <h1>403 Forbidden Request!</h1>
	  <div>
	    <div>Your are not authorized to access this resource</div>
	    <br>
	    <div class="text-center">
	    	<button type=button name=button onClick="history.back()"  class="btn btn-outline-primary">Back</button>
	  	</div>
	  </div>
	</section>
	
</body>
</html>