<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<title>Course Catalog</title>
</head>

<body>
	
	<div class="container">
		<h3>Course Catalog</h3>
		<hr>
		
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Instructor</th>
					<th>Action</th>
					
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tempCourse : ${courses}">
				
					<td th:text="${tempCourse.title}"/>
					<td th:text="${tempCourse.instructor.firstName + ' ' + tempCourse.instructor.lastName}"/>
					<!-- Add update button/link -->
					<td>
					<div>		
						<div style="display:inline">
							<a th:href="@{/courses/courseDetails(courseId=${tempCourse.id})}"
								class="btn btn-info btn-sm">
								See Details
							</a>
							<div th:switch="${#sets.contains(userCourses, tempCourse)}" style="display:inline" sec:authorize="hasRole('ROLE_STUDENT')">
							<a th:case="${false}" th:href="@{/courses/enroll(courseId=${tempCourse.id})}"
								class="btn btn-info btn-sm">
								Enroll
							</a>
							<a th:case="${true}" th:href="@{/courses/unenroll(courseId=${tempCourse.id})}"
								class="btn btn-info btn-sm">
								Unenroll
							</a>
						</div>	
						</div>
						<div th:switch="${#sets.contains(userCourses, tempCourse)}" style="display:inline" sec:authorize="hasRole('ROLE_STUDENT')">
							<p th:case="${true}" style="color:green">
								Enrolled
							</p>
							<p th:case="${false}" style="color:blue">
								Not Enrolled
							</p>
						</div>	
						
					</div>						
					</td>
				</tr>
			</tbody>
		</table>

		<p>
			<a th:href="@{/home}">Back to home</a>
		</p>
	</div>
</body>


</html>