<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Prototype Course Management System</title>
</head>

<body>
	<h2>Prototype CMS Home Page</h2>
	<hr>
	
	<div>
		
		<div>
			<a href="${pageContext.request.contextPath }/todos/userToDos">Go to ToDo List page</a>
		</div>
		<hr>
		
		<!-- display user name and role -->
		
		<div>
			User: <span sec:authentication="name"></span>
			<br><br>
			Role(s): <span sec:authentication="principal.authorities"></span>
			<br><br>
			<div th:if="${session.user}" >
				<p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
			</div>	
		</div>
		
		<div sec:authorize="hasRole('ROLE_STUDENT')">
			<!-- Add a link to point to /todos/powerusers ... this is for the PowerUser -->
			
			<p>
				<a th:href="@{/students}">Student's page</a>
			</p>
		</div>	

		
		<div sec:authorize="hasRole('ROLE_ADMIN')"> 
			
			<p>
				<a th:href="@{/teachers}">Teachers page</a>
			</p>
	
		</div>
		<hr>
	</div>	
	
	<div>
		<!-- Add a logout button -->
		<form th:action="@{/logout}" 
				   method="POST">
		
			<input type="submit" value="Logout" />
		
		</form>
	</div>
</body>

</html>



