<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	
	<title>Prototype ToDo List Landing Page</title>
</head>
 
<body>
	<div class="container">
		<h2>Prototype Course Management System Landing Page</h2>
		<hr>
		
		<p>
			Welcome to the Prototype CMS, this is just a sample CMS List Rest API Web Application.
			Please don't put any personal information to sign up. 
		</p>
		
		<p>
			Available user by default:
		</p>
			<ul>
				<li>username: Teacher, password: teacher</li>
				<li>username: Student, password: student</li>
			</ul>
		<hr>
		<div>
			<p>Anyone can login with the available user above without signup. You could also signup to create your own
			account, just keep in mind not to use your personal information to signup since we just use basic authentication
			for web security.</p>
		</div>
		<p>
			<a th:href="@{/home}">Access Secure Site (requires login)</a>
		</p>
	</div>		
</body>
 
</html>