<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register New User Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	
	<style>.error {color:red}</style>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			
			<!-- Login - form -->
				<form th:action="@{/register/processRegistrationForm}" 
							th:object="${CMSUser}"
							class="login100-form validate-form"
							method="POST">
					<span class="login100-form-title p-b-26">
						Register
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi">User</i>
					</span>
					
					<!-- Place for messages: error, alert, etc ... -->
					<div class="form-group">
						<div class="col-xs-15">
							<div>
								
								<!-- Check for registration error -->
								<div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
									<span th:text="${registrationError}"></span>
								</div>
					
							</div>
						</div>
					</div>
					

										
					<!-- User name -->
					<div class="wrap-input100 ">
							<div th:if="${#fields.hasErrors('username')}"
								class="error">
								<ul>
							  		<li th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}" />
								</ul>						
							</div>
							<input type="text" th:field="*{username}" placeholder="username (*)" class="form-control"/>
					</div>
					
					<!-- Password -->
					<div class="wrap-input100">
							
							<div th:if="${#fields.hasErrors('password')}"
								class="error">
								<ul>
								  <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
								</ul>						
							</div>
							<input type="password" th:field="*{password}" placeholder="Password (*)" class="form-control"/>
					</div>
					
					<!-- Confirm Password -->
					<div class="wrap-input100">
						<div th:if="${#fields.hasErrors('matchingPassword')}"
							class="error">
							<ul>
							  <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
							</ul>						
						</div>
						<input type="password" th:field="*{matchingPassword}" placeholder="Confirm password (*)" class="form-control"/>
					</div>
					
					<!-- First name -->
					<div class="wrap-input100 ">
							<div th:if="${#fields.hasErrors('firstName')}"
								class="error">
								<ul>
								  <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
								</ul>						
							</div>
							<input type="text" th:field="*{firstName}" placeholder="First name (*)" class="form-control"/>
					</div>
					
					<!-- Last name -->
					<div class="wrap-input100 ">
							<div th:if="${#fields.hasErrors('lastName')}"
								class="error">
								<ul>
								  <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
								</ul>						
							</div>
							<input type="text" th:field="*{lastName}" placeholder="Last name (*)" class="form-control"/>
					</div>
					
					<!-- Email -->
					<div class="wrap-input100 ">
							<div th:if="${#fields.hasErrors('email')}"
								class="error">
								<ul>
								  <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
								</ul>						
							</div>
							<input type="text" th:field="*{email}" placeholder="email (*)" class="form-control"/>
					</div>
					
					<!-- Role -->
					<div class="wrap-input100 ">
							<select th:field="*{role}">
							    <option th:value="ROLE_STUDENT" th:text="Student"></option>
							    <option th:value="ROLE_TEACHER" th:text="Teacher"></option>
							</select>
					</div>
					
					<!-- Register Button -->
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button id="saveBtn" type="submit" class="login100-form-btn" onclick="disableBtn()">
								Register
							</button>
							<script>function disableBtn() {
								document.getElementById("saveBtn").disabled=true;
							}
							</script>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>