<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	    <!-- Bootstrap CSS -->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>CMS Register</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<style>.error {color: red}</style>
    </head>
    <body>
        <div class="center">
            <h1>Register</h1>
            <form th:action="@{/register/processRegistrationForm}"
            			th:object="${CMSUser}" method="POST" class="once-only">
            	
            	<!-- Place for messages: error, alert, etc -->
            	<div class="form-group">
            		<div class="col-xs-15">
            			<div>
            				<!-- Check for registration error -->
							<div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
								<span th:text="${registrationError}"></span>
							</div>
            			</div>
            		</div>
            	</div>
            	
            	<!-- User name -->
                <div class="txt_field">
                	<div th:if="${#fields.hasErrors('username')}"
						class="error">
						<ul>
					  		<li th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}" />
						</ul>						
					</div>
                    <input type="text" th:field="*{username}" required>
                    <span></span>
                    <label>Username (*)</label>
                </div>
                
                <!-- Password -->
                <div class="txt_field">
                	<div th:if="${#fields.hasErrors('password')}"
						class="error">
						<ul>
						  <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
						</ul>						
					</div>
                    <input type="password" th:field="*{password}" required>
                    <span></span>
                    <label>Password (*)</label>
                </div>
                
                <!-- Confirm Password -->
                <div class="txt_field">
                	<div th:if="${#fields.hasErrors('matchingPassword')}"
						class="error">
						<ul>
						  <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
						</ul>						
					</div>
                    <input type="password"  th:field="*{matchingPassword}" required>
                    <span></span>
                    <label>Confirm Password (*)</label>
                </div>
                
                <!-- First name -->
                <div class="txt_field">
                	<div th:if="${#fields.hasErrors('firstName')}"
						class="error">
						<ul>
						  <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
						</ul>						
					</div>
                    <input type="text" th:field="*{firstName}" required>
                    <span></span>
                    <label>First name (*)</label>
                </div>
                
                <!-- Last name -->
                <div class="txt_field">
                	<div th:if="${#fields.hasErrors('lastName')}"
						class="error">
						<ul>
						  <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
						</ul>						
					</div>
                    <input type="text" th:field="*{lastName}" required>
                    <span></span>
                    <label>Last name (*)</label>
                </div>
                
                <!-- Email -->
                <div class="txt_field">
	                <div th:if="${#fields.hasErrors('email')}"
						class="error">
						<ul>
						  <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
						</ul>						
					</div>
                    <input type="text" th:field="*{email}" required>
                    <span></span>
                    <label>email (*)</label>
                </div>
                
                <!-- Role -->
				<div class="txt_field">
					<select th:field="*{role}">
					    <option th:value="ROLE_STUDENT" th:text="Student"></option>
					    <option th:value="ROLE_TEACHER" th:text="Teacher"></option>
					</select>
				</div>
				
                <button type="submit">
				Register
				</button>
					<script>$(document).ready(function(){
						$('.once-only').submit(function(){
							$(this).children('button').prop('disabled', true);
						});
					});
					</script>
            </form>
        </div>

    </body>
</html>